<div class="flex-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">Data Profiling</h2>
        <h5 class="subtitle">Take advantage of on-demand profiling of any Datalake table or view for smart exploratory data analysis
        </h5>
        <health-check-non-prod></health-check-non-prod>
      </div>
    </div>


    <form [formGroup]="profilingForm" novalidate>
      <div class="row">
          <div class="col-md-3">
              <mat-form-field class="block-margin">
                <mat-select placeholder="Select Environment" autofocus formControlName="envName" >
                  <mat-option value="prodstage" (click)="getDatabase('prodstage')">Prod Stage</mat-option>
                  <mat-option value="prod" (click)="getDatabase('prod')">Prod</mat-option>
                  <mat-option value="nonprod" (click)="getDatabase('nonprod')">NP Integration</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        <div class="col-md-3">
          <mat-form-field class="block-margin">
            <mat-select placeholder="Select Database" autofocus formControlName="dbName" >
              <!-- <mat-option *ngFor="let db of databases" [value]="db" (click)="selectZone(db)">{{db}}</mat-option> -->
              <mat-option value="otis">otis</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="block-margin">
            <mat-select placeholder="Select Category" formControlName="categoryName" >
              <mat-option value="tables">Tables</mat-option>
              <mat-option value="views">Views</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="block-margin">
            <mat-select placeholder="Select Element" formControlName="elementName" >
              <mat-option value="custinfo_cd_chgreas_t">custinfo_cd_chgreas_t</mat-option>
              <!-- <mat-option *ngFor="let zone of zones" [value]="zone.id " (click)="selectZone(zone.name)">{{zone.name}}</mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Button Row 1 -->
      <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
          <button mat-raised-button color="accent" style="float:right" (click)="showProfileToggle($event)">Profile Data</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button color="accent"  style="float:left" disabled>Re-profile Data</button>
        </div>
        <div class="col-md-2">

        </div>
      </div>
      <div class="row" *ngIf="showProfile">
        <div class="col-md-12">
            <iframe src = "https://s3.amazonaws.com/lm-labrats/profile_custinfo_cd_chgreas_t.html" class="iframe-class"></iframe>
        </div>
      </div>

      

    </form>
  </div>
</div>