<div class="flex-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title">Smart Data Catalog</h2>
          <h5 class="subtitle">Experience the power of smart catalogue solution powered by intelligent global search on the lake</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2 class="title" style="color: #1A237E"> LabRats are architecting the awesomeness – do come back to experience it</h2>
     
        </div>
      </div>
  
    </div>
  </div>