<div class="container">
  <form [formGroup]="fingerprintOnDemandForm" novalidate (ngSubmit)="fingerprint()">
    <div class="row">

      <mat-form-field class="col-md-3">
        <mat-select placeholder="Select Data Zone" class="fingerprint-select" autofocus formControlName="zoneName">
          <mat-option *ngFor="let zone of zones" [value]="zone.id " (click)="selectZone(zone.name)">{{zone.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-select placeholder="Select DB/Source" class="fingerprint-select" formControlName="sourceName">
          <mat-option *ngFor="let source of sourceNames" [value]="source" (click)="selectSource(source)">{{source}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-select placeholder="Select Data Table" class="fingerprint-select" formControlName="tableName">
          <mat-option value="allTables">All Tables</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <mat-select placeholder="Select Data Columns" class="fingerprint-select" formControlName="columnName">
          <mat-option value="allColumns">All Columns</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </div>


    <div class="row">

      <div class="col-md-offset-4">
        <mat-form-field>
          <mat-select placeholder="Select Fingerprint Type" class="fingerprint-select" formControlName="fingerprintType">
            <mat-option value="batch">Batch Mode</mat-option>
            <mat-option value="incremental">Incremental</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <button mat-raised-button color="primary" disabled>Start Prediction Flow</button>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="primary" disabled>Start Tagging Flow</button>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="primary" disabled>Start Policy Creation Flow</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-2">
        <mat-slide-toggle color="primary">
          Slide me!
        </mat-slide-toggle>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="primary">Start Fingerprint Flow</button>
      </div>
      <div class="col-md-3">

      </div>
    </div>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-2">
        <mat-slide-toggle color="primary">
          Slide me!
        </mat-slide-toggle>
      </div>
      <div class="col-md-4">
        <button mat-raised-button color="primary">Start Tag Correction Flow</button>
      </div>
      <div class="col-md-3">

      </div>
    </div>

  </form>
</div>