<div class="flex-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">On-demand Fingerprinting</h2>
        <h5 class="subtitle">Kick start NiFi flows on-demand in batch (or) incremental mode to generate bulk predictions, associate tags and apply masking policies.
        </h5>
      </div>
    </div>
    <form [formGroup]="fingerprintOnDemandForm" novalidate>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field>
            <span matTooltip="Select Zone Name" matTooltipPosition = "above">
            <mat-select placeholder="Select Data Zone" autofocus formControlName="zoneName">
              <mat-option *ngFor="let zone of zones" [value]="zone.id " (click)="selectZone(zone.name)">{{zone.name}}</mat-option>
            </mat-select>
          </span>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Select DB/Source" formControlName="sourceName">
              <mat-option *ngFor="let source of sourceNames" [value]="source" (click)="selectSource(source)">{{source}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Select Data Table" formControlName="tableName">
              <mat-option value="allTables">All Tables</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Select Data Columns" formControlName="columnName">
              <mat-option value="allColumns">All Columns</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="block-margin">
            <mat-select placeholder="Select Fingerprint Type" class="fingerprint-select" formControlName="fingerprintType">
              <mat-option value="batch">Batch Mode</mat-option>
              <mat-option value="incremental">Incremental</mat-option>
              <mat-option value="custom">Custom</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!-- Button Row 1 -->
      <div class="row">
        <div class="col-md-4">
          <button mat-raised-button color="primary" [disabled]="fingerprintFlowStatus" class="block-margin">Start Prediction Flow</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button color="primary" [disabled]="fingerprintFlowStatus" class="block-margin">Start Tagging Flow</button>
        </div>
        <div class="col-md-4">
          <button mat-raised-button color="primary" [disabled]="fingerprintFlowStatus" class="block-margin">Start Policy Creation Flow</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4" style="text-align: center" >
          <mat-slide-toggle color="primary" (change)="slideToggle($event)">
            Toggle Fingerprint Flow
          </mat-slide-toggle>
        </div>
        <div class="col-md-4">

        </div>

      </div>
      <!-- Button & Slider Row 1 -->
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <button mat-raised-button color="primary" [disabled]="!fingerprintFlowStatus" class="block-margin">Start Fingerprint Flow</button>
        </div>
        <div class="col-md-4">

        </div>

      </div>
      <!-- Button & Slider Row 2 -->
      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <button mat-raised-button color="primary" class="block-margin" disabled>Start Tag Correction Flow</button>
        </div>
        <div class="col-md-4">

        </div>

      </div>

    </form>
  </div>
</div>