<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" id="#navbar">
    <span>Liberty Mutual</span>
    <span class="spacer"></span>
    <span>
        <button style="color:white" mat-button [routerLink]="['sources']">Sources</button>
        <button style="color:white" mat-button [routerLink]="['profiling']">Profiling</button>
        <button style="color:white" mat-button [routerLink]="['fingerprint']">Fingerprint</button>
        <button style="color:white" mat-button [routerLink]="['curate']">Curate</button>
        <button style="color:white" mat-button [routerLink]="['catalog']">Catalog</button>
        <button style="color:white" mat-button [routerLink]="['knowledge-graph']">Knowledge-Graph</button>
    </span>

</mat-toolbar>
<router-outlet></router-outlet>