<div id="wrapper-main">
  <h3> Plug Supported <span style="color: green">Data Sources</span> or <span style="color:blue">BYOD</span> </h3>
  <table>
    <tr>
      <td class="head">
        <h4>Source Name</h4>
      </td>
      <td class="head">
        <h4>Source Type</h4>
      </td>
      <td>

        <button mat-mini-fab color="accent" (click)="addSource()">
              <div mdTooltip="Add Source" mdTooltipPosition="after">
            <mat-icon class="mat-24">add</mat-icon>
          </div>
          </button>

      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field>
          <input type="text" matInput placeholder="Enter Name" [(ngModel)]="sourceName" />
        </mat-form-field>
      </td>
      <td>
        
        <mat-select placeholder="Select Source" [(ngModel)]="sourceType">
          <mat-option *ngFor="let option of options" [value]="option.value" >{{option.viewValue}}</mat-option>
        </mat-select>
        
      

      </td>
      <td>
        <button mat-raised-button color="accent" (click)="openDialog()">Configure</button>
        &nbsp;
        <button mat-raised-button color="accent">Drop</button>
      </td>

    </tr>
  </table>
  <div *ngIf="sourceAdded">
    <h3 style="color: green;text-align: center">Success</h3>
    <p>{{sourceName}} of {{sourceType}} has been added</p>
  </div>


</div>