<div class="flex-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="title">Sources</h2>
        <h5 class="subtitle">Bring Your Own Data (BYOD)
        </h5>
      </div>
    </div>


    <form [formGroup]="sourcesForm" novalidate>
      <div formArrayName="sourceWrapper">
        <div *ngFor="let source of sourcesForm.controls.sourceWrapper.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-md-3">
                <mat-form-field class="block-margin">
                  <input matInput type="text" placeholder="Source Name" formControlName="sourceName" />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field class="block-margin">
                  <mat-select placeholder="Select Source Type" formControlName="sourceType">
                    <mat-option *ngFor="let option of options" [value]="option.value">{{option.viewValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-mini-fab color="accent" (click)="addSource()" class="block-margin">
                  <div matTooltip="Add Source" matTooltipPosition="after">
                    <mat-icon>add</mat-icon>
                  </div>
                </button>
              </div>
              <div class="col-md-2">
                <button mat-mini-fab color="accent" (click)="removeSource(i)" class="block-margin" *ngIf="sourcesForm.controls.sourceWrapper.controls.length > 1">
                  <div matTooltip="Remove Source" matTooltipPosition="after">
                    <mat-icon>remove</mat-icon>
                  </div>
                </button>
              </div>
              <div class="col-md-2">
                <button mat-mini-fab color="accent" (click)="openDialog(i)" class="block-margin">
                  <div matTooltip="Configure Source" matTooltipPosition="after">
                    <mat-icon>edit</mat-icon>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>