<div id="wrapper-main">
  <h3> Plug Supported <span style="color: green">Data Sources</span> or <span style="color:blue">BYOD</span> </h3>
  <table>
    <tr>
      <td class="head">
        <h4>Source Name</h4>
      </td>
      <td class="head">
        <h4>Source Type</h4>
      </td>
      <td>

        <button md-mini-fab color="accent" (click)="addSource()">
              <div mdTooltip="Add Source" mdTooltipPosition="after">
            <md-icon class="md-24">add</md-icon>
          </div>
          </button>

      </td>
    </tr>
    <tr>
      <td>
        <md-form-field>
          <input type="text" mdInput placeholder="Enter Name" [(ngModel)]="sourceName" />
        </md-form-field>
      </td>
      <td>
        
        <md-select placeholder="Select Source" [(ngModel)]="sourceType">
          <md-option *ngFor="let option of options" [value]="option.value" >{{option.viewValue}}</md-option>
        </md-select>
        
      

      </td>
      <td>
        <button md-raised-button color="accent" (click)="openDialog()">Configure</button>
        &nbsp;
        <button md-raised-button color="accent">Drop</button>
      </td>

    </tr>
  </table>
  <div *ngIf="sourceAdded">
    <h3 style="color: green;text-align: center">Success</h3>
    <p>{{sourceName}} of {{sourceType}} has been added</p>
  </div>


</div>