<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Polygon</title>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <base href="./">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="{{url_for('static', filename='styles.f68c7804bbd7aaccb7f2.bundle.css')}}" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='inline.fe7f08eaac2cfc2d6b55.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='polyfills.35726d60cdf25fecc5f1.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='scripts.b27da66edb4c180fb423.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='vendor.927bf3ed45a98daf620d.bundle.js')}}"></script>
    <script src="{{url_for('static', filename='main.5398b5fa641b1a0f43c3.bundle.js')}}"></script>

</body>

</html>


<!-- "{{ url_for('static', filename='inline.fe7f08eaac2cfc2d6b55.bundle.js') }}" -->