<div class="container">
    <div class="row">
        <div class="col-md-12">
            <select style="display: block; margin: 0 auto">
                <option value="np">NP</option>
                <option value="ps">PS</option>
                <option value="p">P</option>
            </select>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="center-align">
                <span class="offline">HDF</span>&nbsp;
                <button class="health-check" (click)="getTimeStamp()">Health Check</button>&nbsp;
                <span class="online">HDP</span>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; font-size: 0.7em">
            {{timeStamp}}
        </div>
    </div>
</div>



<!-- <mat-form-field>
        <mat-select placeholder="Env">
            <mat-option value="np">NP</mat-option>
            <mat-option value="ps">PS</mat-option>
            <mat-option value="p">P</mat-option>
        </mat-select>
    </mat-form-field> -->

<!-- formControlName="sourceName" -->